.item-box {
	border: 2px solid black;
	width: 200px;
	height:80px;
	margin-left: 40px;
	padding: 5px;
}

.view-box {
	border: 2px solid black;
	width: 450px;
	height:200px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.form-text {
	text-decoration: underline;
	font-weight: bold;
}

.delete-btn {
	color: yellow;
	background-color: red;
	float: right;
	margin-right: 20px;
}